.app {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
}

/* General Classes */

.vertical-center {
  padding: 50% 0;
}

.button {
  background-color: #FF6569; 
  color: white;
  padding: 4.5%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4em;
  font-weight: 700;
}

/* Hero Page */

.avatar {
  max-width: 90vw;
  max-height: 60vh;
}

.hero-page {
  height: 100vh;
  width: 100vw;
  background-color: #C9F0FF;
}

.hero-center {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333745;
  width: 100%;
}

.social-media-links {
  padding: 1em;
  width: 3.5em;
}

.hero-title, .hero-sub-title {
  font-size: 2em;
}

.hero-title {
  font-weight: 900;
}

.hero-sub-title {
  font-weight: 200;
}

.hero-arrow {

}

/* Content */

.app-content {
  margin: 0 15vw;
}

.section-title {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 2vh;
}

.about, .projects { 
  height: 50vh;
}

.about-description {
  padding: 33% 0;
}

.about-title {
  font-size: 5em;
  font-weight: 400;
}

.about-left {

}

/* Card */

.card {
  margin: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.card-image {
  height: 33%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.technology-container {
  width: 100%;
  margin-bottom: 10%;
}

.technology-logo {
  height: 10%;
  width: 10%;
  padding: 0 3%;
}

.card-image:hover {
  background-color: #000000;
  opacity: 0.3;
}

.card-title, .card-description, .card-button, .technology-container {

}

.card-title {
  font-weight: 700;
  font-size: 1.2em;
}

.card-description {
}


.card-button {
}