.app, textarea, input {
  font-family: 'Nunito', sans-serif;
}

button { 
  border-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

/* General Classes */

.loading-spinner {
  width: 100vw;
  height: 100vh;
}

.button {
  background-color: #FF6569; 
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 35px;
  font-weight: 700;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.textbox {
  border-radius: 30px;
  border-color: #696969;
  border-style: solid;
  border-width: 1.5px;
  margin: 0.4em 0;
  font-size: 1em;
  padding: 1em 2em;
  transition: all .4s ease-in-out;
  width: 40em;
  max-width: 100%;
}

.textbox:focus {
  border-color: #FF6569;
}

.error-message {
  color: #FF6569;
  margin-bottom: 0.5%;
}

.success-message {
  color: #2E8B57;
  margin-top: 0.5%;
}

/* Loading Screen */

#loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #C9F0FF;
}

/* Hero Page */

#avatar {
  max-width: 90%;
  max-height: 40vh;
}

#hero-page {
  height: 100vh;
  background-color: #C9F0FF;
}

#hero-center {
  max-height: 90vh;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333745;
  width: 100%;
}

.social-media-links {
  padding: 1em;
  width: 3.5em;
  transition: all .2s ease-in-out;
}

.social-media-links:hover {
  transform: scale(1.1);
}

#hero-title, #hero-sub-title {
  font-size: 2.4em;
}

#hero-title {
  font-weight: 900;
}

#hero-sub-title {
  font-weight: 200;
}

/* Content */

#app-content {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 10vh;
  min-height: 100%;
  min-height: 100%;
}

#about { 
  margin: 0 1.5vw;
}

#email-link {
  text-decoration: wavy underline;
  color: #ff3237;
}

.about-container {
  justify-content: center;
  padding-top: 10vh;
}

#about-image {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  border-radius: 50%;
}

#about-title {
  font-size: 4em;
  font-weight: 400;
}

#projects-title {
  margin-bottom: 0.2em;
  font-weight: 400;
}

#projects {
  margin-top: 11vh;
}

#contacts {
  height: 100%;
  margin-top: 10%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacts-title {
  margin-bottom: 0.1em;
  font-weight: 700;
}

#email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#send-email-button {
  margin-top: 0.2em;
  width: 7em;
}

#message-input {
  min-height: 12em;
}

#footer {
  text-align: center;
  color: 	#404040;
  font-weight: 600;
}

.footer-icons {
  padding: 0.5em;
  width: 2em;
  opacity: 0.7;
}

/* Card */

.card {
  margin: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 3px;
  background-color: white;
  color: black;
}

.card-image {
  width: 100%;
  height: 25%;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-title, .card-description, .technology-container { 
  padding: 7% 7% 0 7%;
}

.card-description{
  flex-grow: 1;
}

.technology-container {
  display: flex;
  align-items: stretch;
}

.card-button-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 5% 6%
}

.card-title {
  font-weight: 700;
}

.technology-logo {
  height: 2.7em;
  max-width: 21%;
  margin: 0 3%;
}