.app, textarea, input, button {
  font-family: 'Rubik', sans-serif;
}

button { 
  border-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

/* General Classes */

.button {
  background-color: rgba(26, 188, 156, 0.9); 
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 35px;
  font-weight: 700;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.textbox {
  border-radius: 30px;
  border-color: rgb(44, 62, 80);
  border-style: solid;
  border-width: 4px;
  margin: 0.4em 0;
  font-size: 1em;
  padding: 1em 2em;
  transition: all .4s ease-in-out;
  width: 40em;
  max-width: 100%;
}

.textbox:focus {
  border-color: rgba(26, 188, 156, 0.9);
}

.error-message {
  color: #FF6569;
  margin-bottom: 0.5%;
}

.success-message {
  color: #2E8B57;
  margin-top: 0.5%;
}

/* Loading Screen */

#loading-screen {
  margin-top: 35vh;
  margin-right: 10vw;
}

/* Menu */

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  position: absolute;
  width: 92vw;
  margin-top: 4vh;
  margin-left: 117px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 5px 12px 0 0;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 200;
  margin: 0 1vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.nav-right {
  float: right;
  margin-right: 105px;
}

/* Hero Page */

#hero-right {
  margin: auto 15% auto auto;
}

#hero-left {
  color: #EFF6EE;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-left: 15%;
}

.hero-image {
  display: block;
  width: 100%;
}

#hero-page {
  width: 100vw;
  height: 97vh;
}

.social-media-links {
  margin: 0 2em 0 0;
  width: 3.5em;
  transition: all .2s ease-in-out;
}

.social-media-links:hover {
  transform: scale(1.1);
}

#hero-title {
  font-size: 7em;
  max-width: 100%;
  font-weight: 900;
  text-align: left;
  line-height: 1.75em;
}

.hero-sub-title {
  margin: 0.75em 0;
  line-height: 0.5em;
  font-size: 3em;
  font-weight: 200;
}

/* Content */

#app-content {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 10vh;
  min-height: 100%;
  min-height: 100%;
}

#about { 
  margin: 0 1.5vw;
}

#email-link {
  text-decoration: wavy underline;
  color: #ff3237;
}

.about-container {
  justify-content: center;
  padding-top: 10vh;
}

#about-image {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  border-radius: 50%;
}

#about-title {
  font-size: 4em;
  font-weight: 400;
}

.content-title {
  margin: 100px 0 50px;
  font-size: 5em;
  font-weight: 900;
  color: #EFF6EE;
  text-align: center;
}

#projects {
  margin-top: 5vh;
}

#contacts {
  height: 100%;
  margin-top: 10%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contacts-title {
  margin: 0.3em 0;
  font-weight: 800;
  color: #EFF6EE;
}

#email-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#send-email-button {
  margin-top: 0.2em;
  width: 7em;
}

#message-input {
  min-height: 12em;
}

#footer {
  text-align: center;
  color: 	#EFF6EE;
  font-weight: 600;
}

.footer-icons {
  padding: 0.5em;
  width: 2em;
  opacity: 0.7;
}

/* Card */

.card {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 30px;
  background-color: rgba(254, 254, 254, 0.98);
  color: black;
}

.skill {
  background-color: rgba(26, 188, 156, 0.9);
  color: rgba(254, 254, 254, 0.98);
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}

.card-image {
  width: 100%;
  height: 25%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.3s;
}

.card-image-container {
  position: relative;
}

.card-image-overlay-text {
  color: white;
  font-size: 2em;
  font-weight: 700;
  background: none;
  border: none;
  outline:none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-image-container:hover .card-image-overlay {
  opacity: 1;
}

.card-image-overlay {
  height: 99%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background-color:rgba(26, 188, 156, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-title, .card-description, .technology-container { 
  padding: 7% 7% 0 7%;
}

.card-description{
  flex-grow: 1;
}

.technology-container {
  display: flex;
  align-items: stretch;
}

.card-button-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 5% 6%
}

.card-title {
  font-weight: 600;
}

.technology-logo {
  height: 2.7em;
  max-width: 21%;
  margin: 0 3%;
}

#attribution {
  color: #EFF6EE;
  text-decoration: none;
  font-weight: 200;
}